.blog-filters-container {
  text-align: center;
}

.blog-filters-container > .blog-filter {
  margin-right: 5px;
}

.blogs-page-heading {
  font-size: 36px;
  text-align: center;
}

.blog-body {
  opacity: 1;
  transition: opacity 300ms linear;
}
