@import "../../vars.css";
/* .experience-container {
  border-style: solid;
  border-width: 2px;
  border-color: color(var(--color-base) l(+70%));
  border-radius: 5px;
} */

.experience-nav-container {
  max-width: 100%;
  flex-basis: 100%;
  display: flexbox;
  text-align: center;
  padding-bottom: 20px;
}

.experience-container > .experience-nav-container > .experience-nav-item {
  background-color: color(var(--color-base) l(+80%));
  color: color(var(--color-base) l(+40%)) !important;
  /* box-shadow: inset 0 0 0 2px color(var(--color-base) l(+80%)); */
  box-shadow: none;
  border-radius: 0;
}

.experience-container > .experience-nav-container > .experience-nav-item:hover {
  background-color: color(var(--color-base) l(+75%));
}

.experience-body-container {
  max-width: 100%;
  flex-basis: 100%;
}

.experience-body-container > .experience-heading {
  font-size: 2.8rem;
  margin: 0;
}
.experience-body-container > .experience-timeline {
  font-size: 2.1rem;
  color: color(var(--color-base) l(+40%));
  margin: 0;
}

.experience-body-container ul > li {
  font-size: 15px;
}

@media (min-width: 480px) {
}

@media (min-width: 740px) {
}

@media (min-width: 980px) {
  .experience-nav-container {
    max-width: 22%;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
  }

  .experience-body-container {
    padding-left: 35px;
    max-width: 78%;
    flex-basis: 78%;
  }
  .experience-body-container ul > li {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .experience-nav-container {
    max-width: 25%;
    flex-basis: 25%;
  }

  .experience-body-container {
    max-width: 75%;
    flex-basis: 75%;
  }
  .experience-body-container ul > li {
    font-size: 18px;
  }
}

@media (min-width: 1680px) {
}
