@import "../../vars.css";
/* Intro Section */

.intro-section {
  padding-bottom: 8vw;
  padding-top: 8vw;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text h1,
h2,
h3 {
  margin-left: 0;
}

.intro-text h1 {
  margin-bottom: 0;
  font-size: 2.8rem;
}

.intro-text h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.intro-text .designation {
  text-transform: uppercase;
}

.intro-text .button {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.intro-section .intro-image {
  display: none;
}

.intro-section .icons-container {
  margin-top: 1rem;
  font-size: 3rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .intro-text h1 {
    font-size: 4.5rem;
  }
  .intro-text h3 {
    font-size: 2rem;
  }
  .intro-text .button {
    font-size: 1.5rem;
  }
  .intro-section .icons-container {
    width: 60%;
  }
}

@media (min-width: 740px) {
  .intro-section .icons-container {
    width: 45%;
  }
}

@media (min-width: 980px) {
}

@media (min-width: 1280px) {
  .intro-section .intro-image {
    display: inline;
  }
}

@media (min-width: 1680px) {
}
