body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-primary);
  /*background-image: linear-gradient(to bottom, #0f0f0f 0%, #d6d6d6 100%);*/
}
