.about-description,
.about-content figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-content img {
  border-radius: 8px;
}

.about-image {
  flex-basis: 70%;
  max-width: 70%;
  padding: 10px;
}

.about-description {
  text-align: center;
  flex-basis: 100%;
  max-width: 100%;
  padding: 5px;
  padding-left: 4vw;
}

@media (min-width: 480px) {
}

@media (min-width: 740px) {
}

@media (min-width: 980px) {
  .about-image {
    flex-basis: 40%;
    max-width: 40%;
  }
  .about-description {
    flex-basis: 60%;
    max-width: 60%;
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .about-image {
    flex-basis: 27%;
    max-width: 27%;
  }
  .about-description {
    flex-basis: 73%;
    max-width: 73%;
  }
}

@media (min-width: 1680px) {
}
