@import "../../vars.css";

.experience-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 38px;
  row-gap: 30px;
}

.experience-card {
  width: 100%;
  max-width: 450px;
  padding: 22px 28px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.experience-frontmatter-container {
  display: flex;
  justify-content: flex-end;
}

.experience-status-tag,
.experience-type-tag {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 1px 9px;
  border-radius: 24px;
}

.experience-status-tag-completed {
  color: var(--color-green);
  background-color: var(--color-green-light);
}

.experience-status-tag-present {
  color: var(--color-yellow);
  background-color: var(--color-yellow-light);
}

.light .experience-type-tag-por {
  color: var(--color-purple);
  background-color: var(--color-purple-light);
}

.dark .experience-type-tag-por {
  color: var(--color-teal);
  background-color: var(--color-teal-light);
}

.experience-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  font-size: 24px;
  line-height: 36px;
  /* margin-top: 0; */
}

.experience-trophy {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-yellow);
  background-color: var(--color-orange-light);
}

.experience-tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
  row-gap: 8px;
}

.experience-tag {
  color: var(--color-dark-base);
  background-color: var(--color-primary);
  padding: 1px 9px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.experience-card .experience-description {
  font-size: 16px;
  margin: 0;
}

.experience-roles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
}

.experience-role {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
  min-width: 150px;
}

.experience-role-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.experience-card .experience-role-duration {
  font-size: 12px;
  margin: 0;
}
