@import "../../vars.css";

.skillCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillCardsContainer .skillCard {
    position: relative;
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    transition: bottom 0.3s;
}

.skillCardsContainer .skillCard img {
    height: 50px;
}

.light .skillCardsContainer .skillCard {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.dark .skillCardsContainer .skillCard {
    box-shadow: 0 7px 30px -10px rgba(255, 255, 255, 0.6);
}

.skillCardsContainer .skillCard:hover {
    bottom: 7px;
    transition: bottom 0.3s;
}

@media (min-width: 480px) {
}

@media (min-width: 740px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1680px) {
}
